body
{
	margin: auto;					/*auto is set to apply background to full viewable screen */
	background-color: rgb(9,2,70)
}


.header
{
	box-sizing: border-box;
	width: auto;
	height: 50px;					/*Issue: cannot be converted into percentage*/;
	background-color: white
}

.title
{
	color: black;
	font-size: 35px;
	padding-left: 30px;
	padding-top: 5px;
}

.logo
{
	float: left;
	overflow: hidden;
}

.gem
{
	
}